@using AdminCRM.Model.Models.CompanyDetails;
@using AdminCRM.Model.Models.Sections;
@using System.Collections.Generic;
@using System.Linq;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Company company = ViewBag.CompanyBasic as Company;
    List<CompanySocialProfile> companyProfileList = ViewBag.CompanyProfileList as List<CompanySocialProfile>;
    AboutSection about = ViewBag.AboutUsSection as AboutSection;
}

<!-- header top area -->
<div class="cleanmaster-header-top">
    <div class="container">
        <!-- STYLE 1 RIGHT ICON  -->
        <div class="row">
            <!-- TOP LEFT -->
            <div class="col-lg-5 col-md-4 col-sm-7">
                <div class="top-address">
                    <p>
                        <a href="tel:@company.PhoneNo"><i class="icofont-phone"></i>@company.PhoneNo</a>
                        <a href="mailto:@company.Email"><i class="icofont-envelope"></i>@company.Email</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5">
                <div class="top-welcome">
                    <p class="text-center">

                        <span>
                            <i class="icofont-heart-alt"></i>
                            @company.WelcomeText
                        </span>
                    </p>
                </div>
            </div>
            <!-- TOP RIGHT -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="top-right-menu">
                    <ul class="social-icons text-right text_m_center">

                        @if (companyProfileList.Count > 0)
                        {
                            foreach (var profile in companyProfileList)
                            {
                                <li><a href="@profile.ProfileLink"><i class="icofont-@profile.ProfileIcon"></i></a></li>
                            }

                        }
                        else
                        {
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                            <li><a href="#"><i class="icofont-dribbble"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header top area -->
<!-- menu with logo area -->
<div class="cleanmaster-main-menu one_page hidden-xs hidden-sm  witr_h_h14">
    <div class="cleanmaster_nav_area scroll_fixed">
        <div class="container">
            <div class="row logo-left">
                <!-- LOGO -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="logo">
                        <a class="main_sticky_main_l" href="index.html" title="cleanmaster">
                            <img src="~/Content/assets/images/logo-main.png" alt="cleanmaster">
                        </a>
                        <a class="main_sticky_l" href="index.html" title="cleanmaster">
                            <img src="~/Content/assets/images/logo-main.png" alt="cleanmaster">
                        </a>
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- MAIN MENU -->
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <nav class="cleanmaster_menu main-search-menu">
                        <ul class="sub-menu nav_scroll">
                            <li>
                                <a href="index.html">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="home-banner.html">Home Banner</a></li>
                                    <li><a href="home-one-page.html">Home One Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#service">Service</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                        <div class="em-quearys-top msin-menu-search">
                            <div class="em-top-quearys-area">
                                <div class="em-header-quearys">
                                    <div class="em-quearys-menu">
                                        <i class="fa fa-search t-quearys"></i>
                                    </div>
                                </div>
                                <!--SEARCH FORM-->
                                <div class="em-quearys-inner">
                                    <div class="em-quearys-form">
                                        <form class="top-form-control" action="#" method="get">
                                            <input type="text" placeholder="Type Your Keyword" name="s" value="">
                                            <button class="top-quearys-style" type="submit">
                                                <i class="fa fa-long-arrow-right"></i>
                                            </button>
                                        </form>

                                        <div class="em-header-quearys">
                                            <div class="em-quearys-menu">
                                                <i class="fa fa-close  t-close em-s-hidden "></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- menu with logo area -->
<!-- MOBILE MENU -->

<div class="mobile_logo_area hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mobile_menu_logo text-center">
                    <a href="index.html" title="cleanmaster">
                        <img src="assets/images/header-logo.png" alt="cleanmaster" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MOBILE MENU -->
<!-- MOBILE MENU AREA -->
<div class="mbm hidden-md hidden-lg header_area main-menu-area">
    <div class="menu_area mobile-menu">
        <nav>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="home-one-page.html">Home Banner</a></li>

                        <li><a href="home-one-page.html">Home One Page</a></li>
                    </ul>
                </li>
                <li><a href="#about">About</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- END MOBILE MENU AREA  -->
<!-- SLIDER  AREA -->
<div class="witr_slick_slider_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 padding_lr0">
                <div class="witr_slick_active">
                    <div class="witr_ds_content_area" style="background-image: url(assets/images/cleanmaster-slider1.jpg);">
                        <!-- single slider item -->
                        <div class="witr_ds_slider_content witr_slick_content">
                            <div class=" witr_ds_content witr_slick_height text-center">
                                <div class="witr_ds_content_inner witr_containers">
                                    <!-- title -->
                                    <h4>The Best Cleaning Service !</h4>
                                    <h2>We Are Certified Company </h2>
                                    <!-- content -->
                                    <p>Our best-in-class WordPress solution, with additional optimization to make running a</p>
                                    <p>Woo Commerce online store and straight forward so you can.</p>
                                    <!-- inner title -->
                                    <!-- btn gradient style -->
                                    <div class="slider_btn">
                                        <div class="witr_btn_style">
                                            <div class="witr_btn_sinner">
                                                <!-- button -->
                                                <a class="witr_btn" href="#">Our Service</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="witr_ds_content_area" style="background-image: url(assets/images/cleanmaster-slider2.jpg);">
                        <!-- single slider item -->
                        <div class="witr_ds_slider_content witr_slick_content">
                            <div class=" witr_ds_content witr_slick_height text-center">
                                <div class="witr_ds_content_inner witr_containers">
                                    <h4>The Best Cleaning Service !</h4>
                                    <h2>We Are Certified Company </h2>
                                    <!-- content -->
                                    <p>Our best-in-class WordPress solution, with additional optimization to make running a</p>
                                    <p>Woo Commerce online store and straight forward so you can.</p>
                                    <!-- btn gradient style -->
                                    <div class="slider_btn">
                                        <div class="witr_btn_style">
                                            <div class="witr_btn_sinner">
                                                <!-- button -->
                                                <a class="witr_btn" href="#">More Service +</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SLIDER  AREA -->
<!-- ABOUT_SECTION AREA  -->
<div class="witr_about_area" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <img src="assets/images/about.png" alt="">
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="witr_text_widget">
                    <div class="witr_text_widget_inner">
                        <!-- text top -->
                        <h1>
                            <span>
                                @if (about == null)
                                {
                                    <span>About Us</span>
                                }
                                else
                                {
                                    @about.TopTitle
                                }

                            </span>
                        </h1>
                        <!-- text middle -->
                        <h2>
                            @if (about == null)
                            {
                                <span>Discover the Great Benefits of Our Choose !</span>
                            }
                            else
                            {
                                @about.MainTitle
                            }
                        </h2>
                        <!-- content -->
                        <p>
                            @if (about == null)
                            {
                                <span>
                                    Our sanitizing services go beyond the basic services and ovide you with a comprehensive clean that will reenergize your ome and enhance your life.
                                </span>
                            }
                            else
                            {
                                @about.Description
                            }
                        </p>
                    </div>
                    @if (about != null)
                    {
                        <div class="em-service2 sleft ">
                            <div class="em_service_content ">
                                <div class="em_single_service_text">
                                    <div class="text_box">
                                        <div class="service_top_text all_icon_color">
                                            <div class="em-service-icon">
                                                <i class="icofont-@about.ListOneIcon"></i>
                                            </div>
                                        </div>
                                        <div class="em-service-inner">
                                            <div class="em-service-title">
                                                <h3>@about.ListOneTitle </h3>
                                            </div>
                                            <div class="em-service-desc">
                                                <p>@about.ListOneDescription</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="em-service2 sleft ">
                            <div class="em_service_content ">
                                <div class="em_single_service_text">
                                    <div class="text_box">
                                        <div class="service_top_text all_icon_color">
                                            <div class="em-service-icon">
                                                <i class="icofont-@about.ListSecondIcon"></i>
                                            </div>
                                        </div>
                                        <div class="em-service-inner">
                                            <div class="em-service-title">
                                                <h3>@about.ListSecondTitle </h3>
                                            </div>
                                            <div class="em-service-desc">
                                                <p>@about.ListSecondDescription</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="witr_button_area witr_button1">
                            <div class="witr_btn_style mr">
                                <div class="witr_btn_sinner">
                                    <a href="#" class="witr_btn">@about.ButtonText<i class="icofont-square-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="em-service2 sleft ">
                            <div class="em_service_content ">
                                <div class="em_single_service_text">
                                    <div class="text_box">
                                        <div class="service_top_text all_icon_color">
                                            <div class="em-service-icon">
                                                <i class="icofont-recycle"></i>
                                            </div>
                                        </div>
                                        <div class="em-service-inner">
                                            <div class="em-service-title">
                                                <h3>Window Cleaning </h3>
                                            </div>
                                            <div class="em-service-desc">
                                                <p>Lorem ipsum dolor sit amen, consectetuer adipescent alit, seed dam nonarmy. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="em-service2 sleft ">
                            <div class="em_service_content ">
                                <div class="em_single_service_text">
                                    <div class="text_box">
                                        <div class="service_top_text all_icon_color">
                                            <div class="em-service-icon">
                                                <i class="icofont-tags"></i>
                                            </div>
                                        </div>
                                        <div class="em-service-inner">
                                            <div class="em-service-title">
                                                <h3>Pressure Washing </h3>
                                            </div>
                                            <div class="em-service-desc">
                                                <p>Lorem ipsum dolor sit amen, consectetuer adipescent alit, seed dam nonarmy. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="witr_button_area witr_button1">
                            <div class="witr_btn_style mr">
                                <div class="witr_btn_sinner">
                                    <a href="#" class="witr_btn">About More<i class="icofont-square-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END ABOUT_SECTION AREA  -->