@model AdminCRM.Model.Models.Sections.Brands
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var filename = ViewBag.filename;
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">Brand Section</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index")">Brand Section</a></li>
                    <li class="breadcrumb-item active">Update Brand Section</li>
                </ol>
            </div>
        </div>

    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right ml-2">
                            <a class="btn btn-sm btn-warning btn-flat margin" href="@Url.Action("Index")">Back to List</a>
                        </div>
                        <h4 class="header-title">Brand section update Form</h4>
                        <p class="card-title-desc"></p>
                        @using (Html.BeginForm("Edit", "Brands", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate", @autocomplete = "off", @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.ImagePath)
                            @Html.HiddenFor(model => model.ImageName)
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom03">Brand Logo</label>
                                    <input type="file" name="file" id="imgInp" value="" class="form-control" required accept="image/x-png,image/gif,image/jpeg" />
                                    <div class="invalid-feedback">
                                        Please enter a button text!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    @if (!String.IsNullOrEmpty(Model.ImagePath))
                                    {
                                        <img style="max-width:100%; max-height: 250px" id="blah" src="@Url.Content(Model.ImagePath)" alt="your image" />
                                    }
                                    else
                                    {
                                        <img style="max-width:100%" id="blah" src="#" alt="your image" />
                                    }

                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Update Data</button>

                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#imgInp").change(function () {
                readURL(this);
            });


            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
        });
    </script>



} 