@model PagedList.IPagedList<AdminCRM.Model.Models.Sections.ContactUs>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Contact Us";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    int dataSize = 10;

    if (ViewBag.size != null)
    {
        dataSize = ViewBag.dataSize;
    };
    int pageNo = 1;
    if (ViewBag.page != null)
    {
        pageNo = ViewBag.pageNo;
    };
    int rowNo = dataSize * pageNo;
    rowNo = rowNo - dataSize;
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">Contact Us Section</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Contact Us section</li>
                </ol>
            </div>
        </div>

    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right ml-2">
                            <a class="btn btn-sm btn-info btn-flat margin" href="@Url.Action("Create")">Add Contact Us</a>
                        </div>
                        <h5 class="header-title mb-4">Contact Us Details</h5>

                        <div class="table-responsive">
                            <table id="datatable" class="table table-bordered dt-responsive nowrap table-hover" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <td>SL.</td>
                                        <th>Address</th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
                                        {
                                            rowNo++;
                                            <tr>
                                                <td>@rowNo</td>
                                                <td class="">@item.Data.LocationAddress</td>
                                                <td class="">@item.Data.PhoneNumber</td>
                                                <td class="">@item.Data.Email</td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                        <a class="btn btn-outline-secondary btn-sm" href="@Url.Action("Edit", new { id = item.Data.Id })" toggle="tooltip" data-placement="top" title="Edit">
                                                            @*<button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Edit">*@
                                                            <i class="mdi mdi-pencil"></i>
                                                        </a>
                                                        <a class="btn btn-outline-secondary btn-sm" href="@Url.Action("Delete", new { id = item.Data.Id })" toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you wish to delete this item?');">
                                                            <i class="mdi mdi-trash-can"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- /.box -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {


        });

        $(function () {
            //$('#example1').DataTable();
            $('#example1').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': false,
                'autoWidth': false
            });
        });
    </script>



}
